#knowledge-container {
  height: 100%;
  width: 100%;
  color: white;
  background-image:
         /*radial-gradient(rgba(251, 251, 255, 0.67), rgba(96, 101, 96, 0.89)),*/
         url('./img/soccer kid monks playing.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  overflow: scroll;
  /*background-attachment: fixed;*/
}

#knowledge-container h1 {
  color: #FF5825;
}

.testList {
  color: blue;
  font-size: 140%;
}

#knowledge-footer {
  position: fixed;
  bottom: 5px;
  width: 100%;
  text-align: center;
  font-size: 250%;
  color: white;
}


.middle-page-course-description-boxes {
    width: 100%;
    /*background: lightgray;*/
}

.top-box-above-course-description-boxes {
    width: 100%;
    height: 300px;
    text-align: center;
    margin-bottom: 15px;
}

.top-box-above-course-description-boxes-text {
    width: 50%;
    margin-bottom: 15px;
    margin-left: 25%;
    text-align: center;
}

.start-learning {
    width: 50%;
    font-size: 300%;
    margin-bottom: 15px;
    margin-left: 25%;
    text-align: center;
    color: yellow;
}

.start-learning:after {
  text-shadow: 2px 2px red,
       -2px -2px red,
       2px -2px red,
       -2px 2px red;
}

.course-description-text {
    width: 100%;
    font-size: 100%;
    margin-bottom: 15px;
    text-align: center;
}

.course-description-box-container {
    width: 60%;
    position: relative;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 15px;
    margin-left: 20%;
}

.course-description-option-boxes {
    width: 300px;
    height: 450px;
    border: 1px solid lightblue;
    box-shadow: 0 5px 5px #888888;
    border-radius: 10px;
    /*background: #fff;*/
    margin: 10px 0 50px 0;
}

.course-description-option-boxes-upper-box {
    width: 100%;
    height: 90%;

}

.course-description-upper-box-logo {
    width: 32%;
    height:30%;
    -moz-border-radius: 50px/50px;
    -webkit-border-radius: 50px 50px;
    border-radius: 50px/50px;
    /*border:solid 1px #f00;*/
    margin-left: 34%;
    margin-top: -20%;
}

.box-description-logos {
    width: 100%;
    height: 100%;
}

.course-description-title {
    width: 60%;
    height: 80px;
    font-size: 180%;
    font-weight: 800;
    background: -webkit-linear-gradient(yellow, black);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 10%;
    margin-left: 20%;
    text-align: center;
}

.course-description-text {
    width: 80%;
    height: 20%;
    margin-bottom: 10px;
    margin-left: 10%;
    text-align: center;
    font-size: 90%;
}

.course-description-path-button {
    width: 50%;
    margin-left: 25%;
    margin-bottom: 15px;
    font-size: 18px;
    padding: 15px;
    background: linear-gradient(to right, rgba(251, 3, 3, 0.75), rgba(240, 255, 0, 0.75));
    background-color: transparent;
    border: 1px solid #33bbee;
    border-radius: 50px;
    color: #fff;
    font-weight: 600;
    text-align: center;
}

.course-description-option-boxes-lower-box {
    width: 100%;
    height: 5%;
-top: 1px solid lightblue;
    border-bottom: none;-top: 1px solid lightblue;
    border-bottom: none;
    display: flex;
}

.course-description-lower-logo {
    width: 15%;
    height: 80%;
    -moz-border-radius: 50px/50px;
    -webkit-border-radius: 50px 50px;
    border-radius: 50px/50px;
    border:solid 1px #f00;
    margin-left: 10%;
    margin-bottom: 25%;
}
.course-description-lower-text {
    width: 85%;
    height: 100%;
    border: 1px solid orange;
}
