.navbar_container {
  width: 100vw;
  height: 8vh;
  display: flex;
  position: fixed;
  background: rgb(65, 65, 65);
  color: white;
  text-align: center;
}

.navbar_left {
  width: 50%;
  float: left;
  border: 2px solid blue;
}

.navbar_right {
  width: 50%;
  float: right;
  border: 2px solid purple;
}

.navBar-link {
  font-size: 100%;
  padding-right: 20px;
}

a {
  color: lawngreen;
}

a:hover {
  /*font-size: 125%;*/
  color: red;
}

@media (min-width: 700px) {

}

@media (min-width: 900px) {

}

@media (min-width: 1200px) {

  .navbar_container {
    width: 100vw;
    height: 100px;
  }

  .navBar-link {
    font-size: 300%;
    padding-right: 20px;
  }

}
