.work-page-container {
  height: 100%;
  width: 100%;
  background-image:
         /*linear-gradient(to bottom, rgba(33, 171, 199, 0.6), rgba(255, 255, 255, 0.91)),*/
         url('/img/soccer_real_madrid_ronaldo.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  /*background-attachment: fixed;*/
}

.work-title {
  font-size: 600%;
  color: rgb(3, 122, 231);
  text-align: center;
}

.work-example-list {
  font-size: 200%;
  text-shadow: 2px 2px white,
               -2px 2px white,
               2px -2px white,
               -2px -2px white;
}

#work-footer {
  text-align: center;
  margin-left: 20%;
}
