.resume_container {
  width: 100vw;
  height: 100vh;
  background-image: url('../images/bora-bora-sunset3.jpg');
  background-size: cover;
  color: white;
}

.resume_container nav-bar .navbar_container{
  /*background-color: red;*/
}

.resume_display {
  padding: 85px 0 0 10%;
}

iframe {
  height: 400px;
  width: 300px;
}

.resume_container footer {
  margin: 65px 0 0 0;
}

.resume_container .footer_text {
  margin: 0 0 0 -8%;
}

.resume_container .link_logos {
  margin: 0 0 0 -5%;
}


@media (min-width: 1200px) {
  .resume_container {
    width: 100vw;
    height: 140vh;
    background-image: url('../images/bora-bora-sunset2.jpg');
  }

  iframe {
    height: 750px;
    width: 750px;
  }

  .resume_display {
    height: 800px;
    width: 1000px;
    font-size: 300%;
    padding: 85px 0 0 20%;
    /*padding: 100px;*/
    -webkit-text-fill-color: white;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 1px;
    text-fill-color: white;
    text-stroke-color: black;
    text-stroke-width: 1px;
  }

  .resume_display a {
    width: 150px;
    height: 150px;
    float: left;
  }

  .resume_container footer {
    margin: 35px 0 0 0;
  }

}
