.resume_container {
  width: 100vw;
  height: 100vh;
  background-image: url('../images/bora-bora-sunset3.jpg');
  background-size: cover;
  color: white;
}

@media (min-width: 1200px) {
  .resume_container {
    background-image: url('../images/bora-bora-sunset2.jpg');
  }

  .resume_display {
    height: 1200px;
    width: 900px;
    font-size: 300%;
    padding: 100px 0 0 20%;
    /*padding: 100px;*/
    -webkit-text-fill-color: white;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 1px;
    text-fill-color: white;
    text-stroke-color: black;
    text-stroke-width: 1px;
  }

  .resume_display a {
    width: 150px;
    height: 150px;
    float: left;
  }



}
