body {
  width: 100%;
  height: 100%;
  background: black;
}

.navbar-container {
  width: 80%;
  height: 60px;
  position: relative;
  background: rgb(19, 129, 199);
  margin-left: 10%;
  text-align: center;
  color: white;
  display: inline-block;
  padding: 0;
}
.navbar-links button {
  background-color: rgb(28, 184, 160);
  color: yellow;
}
.view-page-container {
  height:1200px;
  width: 100%;
  padding: inherit;

  margin-right: 0;
}
#home-element-with-background-image {
  height: 95%;
  width: 100%;
  font-family: sans-serif;
  background-image:
         linear-gradient(to bottom, rgba(33, 171, 199, 0.6), rgba(255, 255, 255, 0.91)),
         url('./img/spartan-helmet.jpg');
  background-repeat: no-repeat;
  /*background-attachment: fixed;*/
}

.testList {
  color: blue;
}
h2 {
  text-align: center;
  color: white;
}
#knowledge-container {
  height: 95%;
  width: 100%;
  font-family: sans-serif;
  background-image:
         linear-gradient(to bottom, rgba(33, 171, 199, 0.6), rgba(255, 255, 255, 0.91)),
         url('./img/marble-water.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  /*background-attachment: fixed;*/
}
#work-page-container {
  height: 95%;
  width: 100%;
  font-family: sans-serif;
  background-image:
         linear-gradient(to bottom, rgba(33, 171, 199, 0.6), rgba(255, 255, 255, 0.91)),
         url('./img/Spartan-ruins.jpg');
  background-repeat: no-repeat;
  /*background-attachment: fixed;*/
}
#inspir-page-container {
  height: 95%;
  width: 100%;
  font-family: sans-serif;
  color: orange;
  background-image:
         linear-gradient(to bottom, rgba(33, 171, 199, 0.6), rgba(47, 227, 65, 0.6)),
         url('./img/melissani-cave-water-greece.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  /*background-attachment: fixed;*/
}
.sparta-attack-container {
  width: 80%;
  height: 80%;
  margin-top: 10%;
  margin-left: 10%;
}
.sparta-attack-window {
  height: 95%;
  width: 100%;
  font-family: sans-serif;
  color: orange;
  background-image:
         linear-gradient(to bottom, rgba(33, 171, 199, 0.6), rgba(0, 0, 0, 0.91)),
         url('./img/Flaming-Arrow-Robin-Hood-Gif.gif');
  background-repeat: no-repeat;
  background-size: cover;
  /*background-attachment: fixed;*/
}
